* {
    line-height: 150%;
    font-family: "Figtree";
    color: hsl(0, 0%, 7%);
    letter-spacing: 0;
    font-style: normal;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1.25rem;
    font-weight: 800;
}
time {
    font-size: 0.75rem;
}

p {
    font-size: 1rem;
}

figcaption {
    font-size: 0.75rem;
    font-weight: 800;
}

.learning {
    font-size: 0.75rem;
    font-weight: 800;
}